body {
		margin-left: 50px;
		margin-right: 50px;
		font-family: Georgia;
		color: #6E2C00 ;
		background-color: #7FB3D5;
		font-size: 25px;
}
header, h2, h3, p  {
		text-align: center;
		margin: 0px;
		padding: .1em
}
h4, .tagline {
		text-align: center;
		font-style: italic;
}
div{
		text-align: center; 
		font-size: 20px;
}
a {		
		color: #6E2C00;
}
header a{
		text-decoration: none;
}	
footer a{
		color: #6E2C00;
		text-decoration: none;
}
footer, footer	p{
		font-style: italic;
		text-align: center;
}
h1 {
		text-align: center;
		color: #6E2C00;
		font-style: italic;
}
nav {
		text-align: center;
		font-size: 25px;
}


header, nav, main, footer { display: block; }