body {
		margin-left: 50px;
		margin-right: 50px;
		font-family: Georgia;
		color: #6E2C00 ;
		background-color: #7FB3D5;
		font-size: 25px;
}
h1 {
		text-align: center;
		color: #6E2C00;
		font-style: italic;
}
header, h2, h3, p  {
		text-align: center;
		margin: 0px;
		padding: .1em
}
h4, .tagline {
		text-align: center;
		font-style: italic;
}
div{
		text-align: center; 
		font-size: 20px;
}
a {		
		color: #6E2C00;
}
header a{
		text-decoration: none;
}	
footer a{
		color: #6E2C00;
		text-decoration: none;
}
footer, footer	p{
		font-style: italic;
		text-align: center;
}
nav {
		text-align: center;
		font-size: 25px;
}
.toc {
		margin-left: 500px;
}
.input	{
		width: 100%;
		height: 100%; 
		background-color: #bbe4e9;
}
.output	{
		width: 100%;
		height: 100%; 
		background-color: #dfcdc3;
}
main nav {
		text-align: center;
		font-size: 20px;
}
main p {
		margin-top: 20px;
		margin-bottom: 20px;
}
.distance {
		margin-left: 525px;
}
legend {
		display: block;
		margin-left: 25px;
}
fieldset {
		margin-left: 500px;
		margin-right: 500px;
}
label, input {
		margin-left: 25px;
}
figure {
		text-align: center;
		display: block;
}
figcaption {
		text-align: center;
		font-size: 20px;
		font-style: italic;
}
.swtl {
		margin-left: 500px;
		text-align: left;
}
h3 {
		width: 100%;
		height: 100%; 
		background-color: #FFEFD5;
}

header, nav, main, footer {display: block;}